.main_body{
    background: #4A90E2;
    overflow: auto;
}

.main_body_container{
    background: #4A90E2;
    display: grid;
    min-height: 70vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

